html{
  height: 100%;
}

body#main{
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url('../img/bg3.gif') no-repeat center;
  background-size: cover;
}

.label-info {
  font-family: 'Body';
  font-size: 15px;
  line-height: 120%;
}

h1.game {
  font-family: 'Press Start 2P', cursive;
  color: #5F5547;
  text-shadow:
    2px 2px 0 #E6E4E1,
    1px 1px 0 #E6E4E1,
    -1px -1px 0 #E6E4E1,
    2px 2px 0 #E6E4E1;
}

div.gameFile {
  background-color: #5F5547 !important;
}

a.game {
  font-family: 'Press Start 2P', cursive;
  background-color: #5F5547 !important;
}

a.game:hover {
  background-color: #0F0D0A;
}

div.game{
  font-family: 'Press Start 2P', cursive;
}

div.header{
    background-color: #5F5547;
}

.game-info {
  font-family: 'Roboto Condensed';
}

#label-info {
  font-family: 'Roboto Condensed';
}

.label-info {
  display: block;
  margin: auto;
  width: 80%;
}

.play-button {
  margin-right: 10px;
}

nav.true-nav, nav.true-nav .nav-wrapper i, nav.true-nav a.button-collapse, nav.true-nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}

#menu {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.section > .container {
  margin-top: 5%;
}

.tap-target{
  background-color: #5F5547;
}
